
:root {
    --primary-color: #9A0000;
    --secondary-color: #000;
    --third-color: #423F3F;
    --background-color: #FFFFFF;
    --secondery-background-color: #E8E4DF;
}




@font-face { font-family: "AloveraDisplay"; src: url("/fonts/alovera/AloeveraDisplay-Regular.woff2") format("woff2"), url("/fonts/alovera/AloeveraDisplay-Light.woff") format("woff"), url("/fonts/alovera/alovera-display.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "NordMinimalDisplay"; src: url("/fonts/nordicdisplay/web fonts/NORD-black.woff2") format("woff2"), url("/fonts/nord-minimal-display/nord-minimal-display.woff") format("woff"), url("/fonts/nord-minimal-display/nord-minimal-display.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* Conthic */
@font-face { font-family:"Conthic"; src:url("/fonts/conthic/CookConthic.woff2") format("woff2"), url("/fonts/conthic/CookConthic.woff") format("woff"); font-weight:400; font-style:normal; font-display:swap; }
















































